
{% extends 'base.html.twig' %}


{% block body %}






{% if app.user.typecompte == 'Chasseur du talent' %}
    <!-- CONTENT GRID -->
    <div class="content-grid">
        <!-- SECTION BANNER -->

        <div class="section-banner">
            <!-- SECTION BANNER ICON -->
            <img class="section-banner-icon" src="{{ asset('template/img/banner/events-icon.png') }}" alt="events-icon">
            <!-- /SECTION BANNER ICON -->

            <!-- SECTION BANNER TITLE -->
            <p class="section-banner-title">Events</p>
            <!-- /SECTION BANNER TITLE -->

            <!-- SECTION BANNER TEXT -->
            <p class="section-banner-text">Easily manage and create events or reminders!</p>
            <!-- /SECTION BANNER TEXT -->
        </div>
        <!-- /SECTION BANNER -->
        <br><br>

        {%  for flashMessage in app.session.flashbag.get('succes') %}
            <div class="alert-success">
                {{ flashMessage   }}


            </div>
        {% endfor %}


        <!-- SECTION HEADER -->
        <div class="section-header">
            <!-- SECTION HEADER INFO -->
            <div class="section-header-info">
                <!-- SECTION PRETITLE -->
                <p class="section-pretitle">Get a quick look!</p>
                <!-- /SECTION PRETITLE -->

                <!-- SECTION TITLE -->
                <h2 class="section-title">Events Calendar</h2>
                <!-- /SECTION TITLE -->
            </div>
            <!-- /SECTION HEADER INFO -->
        </div>
        <!-- /SECTION HEADER -->

        <!-- SECTION FILTERS BAR -->
        <div class="section-filters-bar v6">
            <!-- SECTION FILTERS BAR ACTIONS -->
            <div class="section-filters-bar-actions">
                <!-- FORM -->
                <form class="form">
                    <!-- FORM ITEM -->
                    <div class="form-item split">
                        <!-- FORM INPUT -->
                        <div class="form-input small">
                            <label for="events-search">Search Events</label>
                            <input type="text" id="search" name="events_search">
                        </div>
                        <!-- /FORM INPUT -->

                        <!-- BUTTON -->
                        <button class="button primary">
                            <!-- ICON MAGNIFYING GLASS -->
                            <svg class="icon-magnifying-glass">
                                <use xlink:href="#svg-magnifying-glass"></use>
                            </svg>
                            <!-- /ICON MAGNIFYING GLASS -->
                        </button>
                        <!-- /BUTTON -->
                    </div>
                    <!-- /FORM ITEM -->
                </form>
                <!-- /FORM -->
            </div>
            <!-- /SECTION FILTERS BAR ACTIONS -->

            <div class="section-filters-bar-actions">
                <p class="button secondary popup-event-creation-trigger" >
                    <a href="{{ path('ajoutercompetition')  }}">+ Add New Event</a>


                </p>

            </div>
        </div>
        <!-- /SECTION FILTERS BAR -->
        <ul class="nav" id="side-menu">
            <li>

                <ul class="nav nav-second-level" id="entitiesNav">
                </ul>

            </li>
        </ul>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script type="text/javascript">
            jQuery(document).ready(function() {
                var searchRequest = null;
                $("#search").keyup(function() {
                    var minlength = 1;
                    var that = this;
                    var value = $(this).val();
                    var entitySelector = $("#entitiesNav").html('');
                    if (value.length >= minlength ) {
                        if (searchRequest != null)
                            searchRequest.abort();
                        searchRequest = $.ajax({
                            type: "GET",
                            url: "{{ path('ajax_search') }}",
                            data: {
                                'q' : value
                            },
                            dataType: "text",
                            success: function(msg){
                                //we need to check if the value is the same
                                if (value===$(that).val()) {
                                    var result = JSON.parse(msg);
                                    $.each(result, function(key, arr) {
                                        $.each(arr, function(id, value) {
                                            if (key === 'Competition') {
                                                if (id !== 'error') {
                                                    console.log(value[1]);

                                                    entitySelector.append('<li>'+value[1]+'<a href="/detailuser/'+id+'">'+' &nbsp; '+'<img src="/template/img/cover/'+value[0]+'" style="width: 100px; height: 100px"/>'+'</a></li>'+'&nbsp;&nbsp;&nbsp;');
                                                } else {
                                                    entitySelector.append('<li class="errorLi">'+value+'</li>');
                                                }
                                            }
                                        });
                                    });
                                }
                            }
                        });
                    }
                });
            });
        </script>





        <!-- SECTION HEADER -->
        <div class="section-header">
            <!-- SECTION HEADER INFO -->
            <div class="section-header-info">
                <!-- SECTION PRETITLE -->
                <p class="section-pretitle">Competition</p>
                <!-- /SECTION PRETITLE -->

                <!-- SECTION TITLE -->
                <h2 class="section-title">A la une</h2>
                <!-- /SECTION TITLE -->
            </div>
            <!-- /SECTION HEADER INFO -->
        </div>
        <!-- /SECTION HEADER -->

        {% if Trending|length ==0 %}


        <!-- CALENDAR WIDGET -->
        <div class="calendar-widget">
            <!-- CALENDAR EVENTS PREVIEW -->
            <div class="calendar-events-preview">
                <!-- CALENDAR EVENTS PREVIEW TITLE -->

                <p class="calendar-events-preview-title">
                    <i class="fa fa-calendar" style="font-size:17px;color:deepskyblue"></i>
                    Les Compétitions d'aujourd'hui : {{ now|date("l d F - H:i")}}</p>
                <!-- /CALENDAR EVENTS PREVIEW TITLE -->


                <!-- CALENDAR EVENT PREVIEW LIST -->
                <div class="calendar-event-preview-list">

                        <!-- CALENDAR EVENT PREVIEW -->
                        <div class="calendar-event-preview primary">


                            <!-- CALENDAR EVENT PREVIEW INFO -->
                            <div class="calendar-event-preview-info">


                                <!-- CALENDAR EVENT PREVIEW TEXT -->
                                <p class="calendar-event-preview-text">Pas de Competition qui commence aujourd'hui</p>
                                <!-- /CALENDAR EVENT PREVIEW TEXT -->

                            </div>
                            <!-- /CALENDAR EVENT PREVIEW INFO -->
                        </div>
                        <!-- /CALENDAR EVENT PREVIEW -->

                </div>
                <!-- /CALENDAR EVENT PREVIEW LIST -->
            </div>
            <!-- /CALENDAR EVENTS PREVIEW -->
        </div>
        <!-- /CALENDAR WIDGET -->



        {% else %}

        <!-- CALENDAR WIDGET -->
        <div class="calendar-widget">
        <!-- CALENDAR EVENTS PREVIEW -->
        <div class="calendar-events-preview">
            <!-- CALENDAR EVENTS PREVIEW TITLE -->

            <p class="calendar-events-preview-title">
                <i class="fa fa-calendar" style="font-size:17px;color:deepskyblue"></i>
                Les Compétitions d'aujourd'hui : {{ now|date("l d F - H:i")}}</p>
            <!-- /CALENDAR EVENTS PREVIEW TITLE -->


            <!-- CALENDAR EVENT PREVIEW LIST -->
            <div class="calendar-event-preview-list">
                {% for t in Trending %}



                        <!-- USER STATUS LIST -->
                        <div class="user-status-list scroll-content">
                            <!-- USER STATUS -->
                            <div class="user-status notification">
                                <!-- USER STATUS AVATAR -->
                                <a class="user-status-avatar" href="profile-timeline.html">
                                    <!-- USER AVATAR -->
                                    <div class="user-avatar small no-outline">
                                        <!-- USER AVATAR CONTENT -->
                                        <div class="user-avatar-content">
                                            <!-- HEXAGON -->
                                            <div class="hexagon-image-30-32" data-src="{{ asset('template/img/avatar/'~t.idUser.imguser) }}"></div>
                                            <!-- /HEXAGON -->
                                        </div>
                                        <!-- /USER AVATAR CONTENT -->

                                        <!-- USER AVATAR PROGRESS -->
                                        <div class="user-avatar-progress">
                                            <!-- HEXAGON -->
                                            <div class="hexagon-progress-40-44"></div>
                                            <!-- /HEXAGON -->
                                        </div>
                                        <!-- /USER AVATAR PROGRESS -->

                                        <!-- USER AVATAR PROGRESS BORDER -->
                                        <div class="user-avatar-progress-border">
                                            <!-- HEXAGON -->
                                            <div class="hexagon-border-40-44"></div>
                                            <!-- /HEXAGON -->
                                        </div>
                                        <!-- /USER AVATAR PROGRESS BORDER -->

                                    </div>
                                    <!-- /USER AVATAR -->
                                </a>
                                <!-- /USER STATUS AVATAR -->
                                <!-- USER STATUS TITLE -->
                                <p class="user-status-title"><a class="bold" href="#">{{ t.idUser.username }}</a> a ajouter la compétition <a class="highlighted" href="#"><strong>{{ t.Titre }}</strong></a></p>
                                <!-- /USER STATUS TITLE -->
                            </div>
                            <!-- /USER AVATAR BADGE -->
                        </div>
                        <!-- /USER AVATAR -->



                    <!-- CALENDAR EVENT PREVIEW -->
                <div class="calendar-event-preview secondary">
                    <!-- CALENDAR EVENT PREVIEW INFO -->
                    <div class="calendar-event-preview-info">
                        <!-- CALENDAR EVENT PREVIEW TEXT -->
                        <p class="calendar-event-preview-text">{{ t.Description }}</p>
                        <!-- /CALENDAR EVENT PREVIEW TEXT -->

                        <!-- CALENDAR EVENT PREVIEW TITLE -->
                        <p class="calendar-event-preview-time">
                            <i class="fa fa-clock-o" style="font-size:15px;color:deepskyblue"></i>
                            <span class="bold">{{t.DateDebut|date('F jS ') }}</span>  -
                            <i class="fa fa-clock-o" style="font-size:15px;color:red"></i>
                            <span class="bold">{{t.DateFin|date('F jS ') }}</span> </p>
                        <!-- /CALENDAR EVENT PREVIEW TITLE -->
                    </div>
                    <!-- /CALENDAR EVENT PREVIEW INFO -->
                </div>
                <!-- /CALENDAR EVENT PREVIEW -->
                {% endfor %}
            </div>
            <!-- /CALENDAR EVENT PREVIEW LIST -->
        </div>
        <!-- /CALENDAR EVENTS PREVIEW -->
    </div>
    <!-- /CALENDAR WIDGET -->
        {% endif %}

        <!-- SECTION HEADER -->
        <div class="section-header">
            <!-- SECTION HEADER INFO -->
            <div class="section-header-info">
                <!-- SECTION PRETITLE -->
                <p class="section-pretitle">See what's next!</p>
                <!-- /SECTION PRETITLE -->

                <!-- SECTION TITLE -->
                <h2 class="section-title">Upcoming Events</h2>
                <!-- /SECTION TITLE -->
            </div>
            <!-- /SECTION HEADER INFO -->
        </div>
        <!-- /SECTION HEADER -->


        <!-- GRID -->
        <div class="grid grid-3-3-3-3 centered">
            {%  for c in Competition %}
            <!-- EVENT PREVIEW -->
            <div class="event-preview">
                <!-- EVENT PREVIEW COVER -->
                <figure class="event-preview-cover liquid">
                    <img src="{{ asset('template/img/cover/'~c.imageC ) }}" alt="cover-47">
                </figure>
                <!-- /EVENT PREVIEW COVER -->

                <!-- EVENT PREVIEW INFO -->
                <div class="event-preview-info">
                    <!-- EVENT PREVIEW INFO TOP -->
                    <div class="event-preview-info-top">
                        <!-- DATE STICKER -->
                        <div class="date-sticker">
                            <!-- DATE STICKER DAY -->
                            <p class="date-sticker-day">{{ c.DateDebut|date('d') }}</p>
                            <!-- /DATE STICKER DAY -->

                            <!-- DATE STICKER MONTH -->
                            <p class="date-sticker-month">{{ c.DateDebut|date('F ') }}</p>
                            <!-- /DATE STICKER MONTH -->
                        </div>
                        <!-- /DATE STICKER -->


                        <!-- EVENT PREVIEW TITLE -->
                        <p  class="event-preview-title popup-event-information-trigger"  >
                            <a  href="{{ path('detailuser', {'id':c.idCompetition})  }}">  {{c.Titre}}</a>

                        </p>

                        <!-- /EVENT PREVIEW TITLE -->


                        <!-- EVENT PREVIEW TIMESTAMP -->
                        <p class="event-preview-timestamp">
                            <i class="fa fa-clock-o" style="font-size:15px;color:deepskyblue"></i>
                            <span class="bold">{{ c.DateFin|date('F jS ') }}</span>
                        </p>
                        <!-- /EVENT PREVIEW TIMESTAMP -->
                        <span>

                                                            </span>



                        <!-- EVENT PREVIEW TEXT -->
                        <p class="event-preview-text">{{ c.Description }}</p>
                        <!-- /EVENT PREVIEW TEXT -->
                    </div>
                    <!-- /EVENT PREVIEW INFO TOP -->


                    {% if c.Cout ==0 %}
                    <!-- EVENT PREVIEW INFO BOTTOM -->
                    <div class="event-preview-info-bottom">


                        <div class="decorated-text">
                            <p class="event-preview-timestamp">
                                <i class="fa fa-diamond" style="font-size:15px;color:deepskyblue"></i>
                                <span class="bold">&nbsp;Gratuit </span>
                            </p>
                            <!-- /EVENT PREVIEW TIMESTAMP -->
                        </div>
                        <!-- /DECORATED TEXT -->

                    {% else %}

                    <!-- EVENT PREVIEW INFO BOTTOM -->
                    <div class="event-preview-info-bottom">


                        <div class="decorated-text">

                            <p class="event-preview-timestamp">
                                <i class="fa fa-diamond" style="font-size:15px;color:deepskyblue"></i>
                                <span class="bold">&nbsp;{{     c.Cout }} </span>
                            </p>
                            <!-- /EVENT PREVIEW TIMESTAMP -->
                        </div>
                        <!-- /DECORATED TEXT -->
                    {% endif %}

                        <!-- CONTENT ACTIONS -->
                        <div class="content-actions">
                            <!-- CONTENT ACTION -->
                            <div class="content-action">
                                <!-- META LINE -->
                                <div class="meta-line">
                                    <!-- META LINE LIST -->
                                    <div class="meta-line-list reaction-item-list">
                                {% set total = 0 %}
                                {% for par in Participation if (par.idCompetition.idCompetition == c.idCompetition)  %}
                                {% set total = total + 1 %}

                                    <!-- REACTION ITEM -->
                                    <div class="reaction-item">
                                        <!-- REACTION IMAGE -->
                                        <img class="reaction-image reaction-item-dropdown-trigger" src="{{ asset('template/img/avatar/'~par.iduser.imguser) }}" alt="reaction-happy">
                                        <!-- /REACTION IMAGE -->

                                        <!-- SIMPLE DROPDOWN -->
                                        <div class="simple-dropdown padded reaction-item-dropdown">
                                            <!-- SIMPLE DROPDOWN TEXT -->
                                            <p class="simple-dropdown-text"><img class="reaction" src="{{ asset('template/img/avatar/'~par.iduser.imguser) }}" alt="reaction-happy"> <span class="bold">{{ par.iduser.username}}</span></p>
                                            <!-- /SIMPLE DROPDOWN TEXT -->

                                            <!-- SIMPLE DROPDOWN TEXT -->
                                            <p class="simple-dropdown-text">
                                                <i class="fa fa-at" style="font-size:10px;color:deepskyblue"></i>
                                                {{ par.iduser.email}}
                                            </p>
                                            <!-- /SIMPLE DROPDOWN TEXT -->

                                            <!-- SIMPLE DROPDOWN TEXT -->
                                            <p class="simple-dropdown-text">
                                                <i class="fa fa-diamond" style="font-size:10px;color:deepskyblue"></i>
                                                {{ par.iduser.nbdiament}}
                                            </p>
                                            <!-- /SIMPLE DROPDOWN TEXT -->

                                        </div>
                                        <!-- /SIMPLE DROPDOWN -->
                                    </div>
                                    <!-- /REACTION ITEM -->
                                {% endfor %}





                            </div>
                            <!-- /META LINE LIST -->

                            <!-- META LINE TEXT -->
                            <p class="meta-line-text">{{total}} <span>will assist</span></p>
                            <!-- /META LINE TEXT -->
                        </div>
                        <!-- /META LINE -->
                            </div>
                            <!-- /META LINE -->
                        </div>
                        <!-- /META LINE -->





                        {% if app.user.username == c.iduser%}

                            <!-- POST OPTIONS -->
                            <div class="post-options">

                                <!-- POST OPTION -->
                                <div class="post-option">

                                    <i class="fa fa-edit" style="font-size:17px;color:deepskyblue"></i>
                                    <!-- POST OPTION TEXT -->
                                    <p class="post-option-text">
                                        <a href="{{ path('modifiercompetition', {'id':c.idCompetition})  }}">&nbsp;&nbsp;&nbsp;Modifier</a>
                                       </p>
                                    <!-- /POST OPTION TEXT -->
                                </div>
                                <!-- /POST OPTION -->

                                <!-- POST OPTION -->
                                <div class="post-option">

                                    <i class="fa fa-trash" style="font-size:17px;color:deepskyblue"></i>
                                    <!-- POST OPTION TEXT -->
                                    <p class="post-option-text">
                                        <a href="{{ path('supprimercompetition', {'id':c.idCompetition})  }}">&nbsp;&nbsp;&nbsp;Supprimer</a>

                                    </p>
                                    <!-- /POST OPTION TEXT -->
                                </div>
                                <!-- /POST OPTION -->
                            </div>

                        {% endif %}

                    </div>
                    <!-- /EVENT PREVIEW INFO BOTTOM -->

                 {% if c.idUser != app.user.username %}

                    <div class="product-preview">
                        <!-- PRODUCT PREVIEW META -->
                        <div class="product-preview-meta">
                            <!-- PRODUCT PREVIEW AUTHOR -->
                            <p class="product-preview-author-title">

                                <i class="fa fa-hand-stop-o" style="font-size:15px;color:red"></i>

                                Accées interdite !

                            </p>

                            <div class="product-preview-author">
                                <!-- PRODUCT PREVIEW AUTHOR IMAGE -->

                                <a class="product-preview-author-image user-avatar micro no-border" href="profile-timeline.html">
                                    <!-- USER AVATAR CONTENT -->
                                    <div class="user-avatar-content">
                                        <!-- HEXAGON -->
                                        <div class="hexagon-image-18-20" data-src="{{ asset('template/img/avatar/'~c.idUser.imguser) }}"></div>
                                        <!-- /HEXAGON -->
                                    </div>
                                    <!-- /USER AVATAR CONTENT -->
                                </a>
                                <!-- /PRODUCT PREVIEW AUTHOR IMAGE -->

                                <!-- PRODUCT PREVIEW AUTHOR TITLE -->
                                <p class="product-preview-author-title">By</p>
                                <!-- /PRODUCT PREVIEW AUTHOR TITLE -->

                                <!-- PRODUCT PREVIEW AUTHOR TEXT -->
                                <p class="product-preview-author-text"><a href="profile-timeline.html">{{ c.iduser }}</a></p>
                                <!-- /PRODUCT PREVIEW AUTHOR TEXT -->
                            </div>
                            <!-- /PRODUCT PREVIEW AUTHOR -->



                        </div>
                        <!-- /PRODUCT PREVIEW META -->
                    </div>
                    <!-- DECORATED TEXT -->
                    {% endif %}
                </div>
                <!-- /EVENT PREVIEW INFO -->
            </div>
            <!-- /EVENT PREVIEW -->




                {% endfor %}

        </div>
        <!-- /GRID -->
    </div>
    <!-- /CONTENT GRID -->











        {% else %}
            <script>
                window.alert("Seulement le Chasseur du talent peut voir cette page");

            </script>

            <!-- ERROR SECTION -->
            <div class="error-section">
                <!-- ERROR SECTION TITLE -->
                <p class="error-section-title">404</p>
                <!-- /ERROR SECTION TITLE -->

                <!-- ERROR SECTION INFO -->
                <div class="error-section-info">
                    <!-- ERROR SECTION SUBTITLE -->
                    <p class="error-section-subtitle">Oops!!...</p>
                    <!-- /ERROR SECTION SUBTITLE -->

                    <!-- ERROR SECTION TEXT -->
                    <p class="error-section-text">Seulement le Chasseur du talent peut voir cette page !</p>
                    <!-- /ERROR SECTION TEXT -->



                    <!-- BUTTON -->
                    <a class="button medium primary" href="affichercompetitionUser">Retour</a>
                    <!-- /BUTTON -->
                </div>
                <!-- /ERROR SECTION INFO -->
            </div>
            <!-- /ERROR SECTION -->





        {% endif %}
        {% endblock %}










