{% extends 'baseLouay.html.twig' %}

{% block body %}
    <!-- CONTENT GRID -->
    <div class="content-grid">

    <div class="grid grid-9-3">
        <!-- MARKETPLACE CONTENT -->
        <div class="marketplace-content grid-column">
            <!-- SLIDER PANEL -->
            <div class="slider-panel">
                <!-- SLIDER PANEL SLIDES -->
                <div class="slider-panel-slides">
                    <!-- SLIDER PANEL SLIDE -->
                    <div class="slider-panel-slide">
                        <!-- SLIDER PANEL SLIDE IMAGE -->
                        <figure class="slider-panel-slide-image liquid">
                            <img src="{{ asset('uploads/'~Annonce.images ) }}" alt="item-10">
                        </figure>
                        <!-- /SLIDER PANEL SLIDE IMAGE -->
                    </div>
                    <!-- /SLIDER PANEL SLIDE -->

                </div>
                <!-- /SLIDER PANEL SLIDES -->


            </div>
            <!-- /SLIDER PANEL -->

        </div>
        <!-- /MARKETPLACE CONTENT -->

        <!-- MARKETPLACE SIDEBAR -->
        <div class="marketplace-sidebar">
            <!-- SIDEBAR BOX -->
            <div class="sidebar-box">
                <!-- SIDEBAR BOX ITEMS -->
                <div class="sidebar-box-items">
                    <!-- PRICE TITLE -->
                    <p class="price-title big"><span class="currency">DNT</span> {{ Annonce.prix }}</p>
                    <!-- /PRICE TITLE -->

{% if( app.user.id == Annonce.user.id ) %}

                    <!-- BUTTON -->
                    <p class="button danger">>    <a href="{{ path('supprimerannonce', {'id':Annonce.idAnnonce})  }})  }}">Supprimer</a></p>
                    <!-- /BUTTON -->
                    <!-- BUTTON -->
                    <p class="button danger">    <a href="{{ path('modifierannonce', {'id':Annonce.idAnnonce})  }})  }}">Editer</a></p>
                    <!-- /BUTTON -->
                    {% endif %}
                    <!-- USER STATS -->
                    <br> <br>

                    <div class="user-stats">


                        <!-- USER STAT -->
                        <div class="user-stat big">
                            <!-- USER STAT TITLE -->
                            <p class="user-stat-title">{{ Annonce.etat }}</p>
                            <!-- /USER STAT TITLE -->


                        </div>
                        <!-- /USER STAT -->
                    </div>
                    <!-- /USER STATS -->
                </div>
                <!-- /SIDEBAR BOX ITEMS -->

                <!-- SIDEBAR BOX TITLE -->
                <p class="sidebar-box-title medium-space">Item Author</p>
                <!-- /SIDEBAR BOX TITLE -->

                <!-- SIDEBAR BOX ITEMS -->
                <div class="sidebar-box-items">
                    <!-- USER STATUS -->
                    <div class="user-status">
                        <!-- USER STATUS AVATAR -->
                        <a class="user-status-avatar" href="profile-timeline.html">
                            <!-- USER AVATAR -->
                            <div class="user-avatar small no-outline">
                                <!-- USER AVATAR CONTENT -->
                                <div class="user-avatar-content">
                                    <!-- HEXAGON -->
                                    <div class="hexagon-image-30-32" data-src="{{ asset('template/img/avatar/'~Annonce.user.imguser) }}"></div>
                                    <!-- /HEXAGON -->
                                </div>
                                <!-- /USER AVATAR CONTENT -->

                                <!-- USER AVATAR PROGRESS -->
                                <div class="user-avatar-progress">
                                    <!-- HEXAGON -->
                                    <div class="hexagon-progress-40-44"></div>
                                    <!-- /HEXAGON -->
                                </div>
                                <!-- /USER AVATAR PROGRESS -->

                                <!-- USER AVATAR PROGRESS BORDER -->
                                <div class="user-avatar-progress-border">
                                    <!-- HEXAGON -->
                                    <div class="hexagon-border-40-44"></div>
                                    <!-- /HEXAGON -->
                                </div>
                                <!-- /USER AVATAR PROGRESS BORDER -->

                                <!-- USER AVATAR BADGE -->
                                <div class="user-avatar-badge">
                                    <!-- USER AVATAR BADGE BORDER -->
                                    <div class="user-avatar-badge-border">
                                        <!-- HEXAGON -->
                                        <div class="hexagon-22-24"></div>
                                        <!-- /HEXAGON -->
                                    </div>
                                    <!-- /USER AVATAR BADGE BORDER -->

                                    <!-- USER AVATAR BADGE CONTENT -->
                                    <div class="user-avatar-badge-content">
                                        <!-- HEXAGON -->
                                        <div class="hexagon-dark-16-18"></div>
                                        <!-- /HEXAGON -->
                                    </div>
                                    <!-- /USER AVATAR BADGE CONTENT -->

                                </div>
                                <!-- /USER AVATAR BADGE -->
                            </div>
                            <!-- /USER AVATAR -->
                        </a>
                        <!-- /USER STATUS AVATAR -->

                        <!-- USER STATUS TITLE -->
                        <p class="user-status-title"><a class="bold" href="profile-timeline.html">{{Annonce.user.username}}</a></p>
                        <!-- /USER STATUS TITLE -->

                        <!-- USER STATUS TEXT -->
                        <p class="user-status-text small">  items published</p>
                        <!-- /USER STATUS TEXT -->
                    </div>
                    <!-- /USER STATUS -->


                    <!-- BUTTON -->
                    <a class="button small white" href="profile-store.html">View Profile</a>
                    <!-- /BUTTON -->
                </div>
                <!-- /SIDEBAR BOX ITEMS -->

                <!-- SIDEBAR BOX TITLE -->
                <p class="sidebar-box-title medium-space">Item Details</p>
                <!-- /SIDEBAR BOX TITLE -->

                <!-- SIDEBAR BOX ITEMS -->
                <div class="sidebar-box-items">
                    <!-- INFORMATION LINE LIST -->
                    <div class="information-line-list">
                        <!-- INFORMATION LINE -->
                        <div class="information-line">
                            <!-- INFORMATION LINE TITLE -->
                            <p class="information-line-title">Created</p>
                            <!-- /INFORMATION LINE TITLE -->

                            <!-- INFORMATION LINE TEXT -->
                            <p class="post-open-timestamp"><span class="highlighted">{{Annonce.dateCreation|date('F jS ') }}</span></p>
                            <!-- /INFORMATION LINE TEXT -->
                        </div>
                        <!-- /INFORMATION LINE -->

                        <!-- INFORMATION LINE -->
                        <div class="information-line">
                            <!-- INFORMATION LINE TITLE -->
                            <p class="information-line-title">Category</p>
                            <!-- /INFORMATION LINE TITLE -->

                            <!-- INFORMATION LINE TEXT -->
                            <p class="information-line-text"><a href="marketplace-category.html">{{ Annonce.categorie.nom }}</a></p>
                            <!-- /INFORMATION LINE TEXT -->
                        </div>
                        <!-- /INFORMATION LINE -->

                        <!-- INFORMATION LINE -->
                        <div class="information-line">
                            <!-- INFORMATION LINE TITLE -->
                            <p class="information-line-title">Description</p>
                            <!-- /INFORMATION LINE TITLE -->

                            <!-- INFORMATION LINE TEXT -->
                            <p class="information-line-text"><span class="bold">{{ Annonce.description }}</span></p>
                            <!-- /INFORMATION LINE TEXT -->
                        </div>
                        <!-- /INFORMATION LINE -->


                    </div>
                    <!-- /INFORMATION LINE LIST -->
                </div>
                <!-- /SIDEBAR BOX ITEMS -->

                <!-- SIDEBAR BOX TITLE -->
                <p class="sidebar-box-title medium-space">Item Share</p>
                <!-- /SIDEBAR BOX TITLE -->

                <!-- SIDEBAR BOX ITEMS -->
                <div class="sidebar-box-items">
                    <!-- SOCIAL LINKS -->
                    <div class="social-links small align-left">
                        <!-- SOCIAL LINK -->
                        <a class="social-link small facebook" href="#">
                            <!-- SOCIAL LINK ICON -->
                            <svg class="social-link-icon icon-facebook">
                                <use xlink:href="#svg-facebook"></use>
                            </svg>
                            <!-- /SOCIAL LINK ICON -->
                        </a>
                        <!-- /SOCIAL LINK -->

                        <!-- SOCIAL LINK -->
                        <a class="social-link small twitter" href="#">
                            <!-- SOCIAL LINK ICON -->
                            <svg class="social-link-icon icon-twitter">
                                <use xlink:href="#svg-twitter"></use>
                            </svg>
                            <!-- /SOCIAL LINK ICON -->
                        </a>
                        <!-- /SOCIAL LINK -->
                    </div>
                    <!-- /SOCIAL LINKS -->
                </div>
                <!-- /SIDEBAR BOX ITEMS -->
            </div>
            <!-- /SIDEBAR BOX -->
        </div>
        <!-- /MARKETPLACE SIDEBAR -->
    </div>

    </div>
    <!-- /CONTENT GRID -->

      {% endblock %}