{% extends 'base1.html.twig' %}

{% block body %}
<section class="content blog-page">
    <div class="block-header">
        <div class="row">
            <div class="col-lg-7 col-md-6 col-sm-12">
                <h2>Detail Blog
                    <small>Welcome to DEVIT</small>
                </h2>
            </div>
            <div class="col-lg-5 col-md-6 col-sm-12">
                <ul class="breadcrumb float-md-right">
                    <li class="breadcrumb-item"><a href="index.html"><i class="zmdi zmdi-home"></i> DEVIT</a></li>
                    <li class="breadcrumb-item"><a href="blog-dashboard.html">BLOG</a></li>
                    <li class="breadcrumb-item active">Detail Blog</li>
                </ul>
            </div>
        </div>
    </div>


    <br>
    <br>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8 col-md-12 left-box">

                <div class="card single_post">
                    <div class="header">

                        <ul class="header-dropdown">
                            <li class="dropdown"> <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <i class="zmdi zmdi-more"></i> </a>
                                <ul class="dropdown-menu dropdown-menu-right slideUp float-right">
                                    <li><a href="javascript:void(0);">Edit</a></li>
                                    <a href="{{ path('blog_modifierBlog',{'id':post.id}) }}">Update</a>
                                    <a href="{{ path('blog_supprimerBlog', {'id':post.id})  }}">Remove</a>

                                </ul>
                            </li>
                            <li class="remove">
                                <a role="button" class="boxs-close"><i class="zmdi zmdi-close"></i></a>
                            </li>
                        </ul>
                    </div>

                    <div class="body">
                        <h3 class="m-t-0 m-b-5">{{ post.sujet }}</h3>
                        <ul class="meta">

                            <li><a href="#"><i class="zmdi zmdi-account col-blue"></i>Posted By: {{ app.user.username }}</a></li>
                            <li><a href="#"><i class="zmdi zmdi-comment-text col-blue"></i>Comments: (nbr comment) </a></li>
                        </ul>
                    </div>
                    <div class="body">
                        <div class="img-post m-b-15">
                            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                                <div class="carousel-inner" role="listbox">

                                    <div class="carousel-item active">
                                        <div class="image"><img src="{{ asset('images/') }}{{ post.photo }}" alt=""
                                                                class="d-block img-fluid" style="width: 1000px;height: 500px"></div>

                                    </div>

                                </div>

                                <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Next</span>

                                </a>

                            </div>
                        </div>
                        <p>{{ post.contenu}}</p>

                        <div class="card">
                            <div class="header">
                                <h2><strong>Comments</strong></h2>
                            </div>

                            <div class="body">
                                <ul class="comment-reply list-unstyled">
                                    <li class="row">
                                        <div class="icon-box col-md-2 col-4"><img class="img-fluid img-thumbnail" src="assets/images/sm/avatar2.jpg" alt="Awesome Image"></div>
                                        <div class="text-box col-md-10 col-8 p-l-0 p-r0">
                                            {% for c in comments  %}
                                            <h5 class="m-b-0">{{ app.user.username }} </h5>
                                            <p>{{ c.contenu}}</p>
                                            <ul class="list-inline">
                                                <li><a href="#">{{ post.DateCreation }}</a></li>
                                                <li><a href="#">Reply</a></li>
                                            </ul>

                                        </div>
                                    </li>

                                </ul>
                            </div>

                        </div>

                    </div>{% endfor %}
                </div>

            </div>
        </div>


{% endblock %}