{% extends 'base.html.twig' %}


{% block body %}


    <!-- CONTENT GRID -->
    <div class="content-grid">
        <!-- SECTION BANNER -->

        <div class="section-banner">
            <!-- SECTION BANNER ICON -->
            <img class="section-banner-icon" src="{{ asset('template/img/banner/events-icon.png') }}" alt="events-icon">
            <!-- /SECTION BANNER ICON -->

            <!-- SECTION BANNER TITLE -->
            <p class="section-banner-title">Events</p>
            <!-- /SECTION BANNER TITLE -->

            <!-- SECTION BANNER TEXT -->
            <p class="section-banner-text">Easily manage and create events or reminders!</p>
            <!-- /SECTION BANNER TEXT -->
        </div>
        <!-- /SECTION BANNER -->


        <!-- SECTION FILTERS BAR -->
        <div class="section-filters-bar v6">
            <!-- SECTION FILTERS BAR ACTIONS -->

            <div class="section-filters-bar-actions">
                <!-- FORM -->
                <form class="form">
                    <!-- FORM ITEM -->
                    <div class="form-item split">
                        <!-- FORM INPUT -->
                        <div class="form-input small">
                            <label for="events-search">Search Events</label>
                            <input type="text" id="events-search" name="events_search">
                        </div>
                        <!-- /FORM INPUT -->

                        <!-- BUTTON -->
                        <button class="button primary">
                            <!-- ICON MAGNIFYING GLASS -->
                            <svg class="icon-magnifying-glass">
                                <use xlink:href="#svg-magnifying-glass"></use>
                            </svg>
                            <!-- /ICON MAGNIFYING GLASS -->
                        </button>
                        <!-- /BUTTON -->
                    </div>
                    <!-- /FORM ITEM -->
                </form>
                <!-- /FORM -->
            </div>


            <!-- /SECTION FILTERS BAR ACTIONS -->
        </div>
        <!-- /SECTION FILTERS BAR -->






        <!-- SECTION HEADER -->
        <div class="section-header">
            <!-- SECTION HEADER INFO -->
            <div class="section-header-info">
                <!-- SECTION PRETITLE -->
                <p class="section-pretitle">Découvre les nouveautés!</p>
                <!-- /SECTION PRETITLE -->

                <!-- SECTION TITLE -->
                <h2 class="section-title">Nouvelles Competitions</h2>
                <!-- /SECTION TITLE -->
            </div>
            <!-- /SECTION HEADER INFO -->

            <!-- SECTION HEADER ACTIONS -->
            <div class="section-header-actions">
                <!-- SECTION HEADER ACTION -->
                <a class="section-header-action" href="marketplace-category.html">Browse All Latest</a>
                <!-- /SECTION HEADER ACTION -->
            </div>
            <!-- /SECTION HEADER ACTIONS -->
        </div>
        <!-- /SECTION HEADER -->






        <!-- GRID -->
        <div class="grid grid-3-3-3-3 centered">
            {%  for c in Competition %}
                {% if app.user.typecompte == 'Simple Utilisateur' %}
            <!-- PRODUCT PREVIEW -->
            <div class="product-preview">
                <!-- PRODUCT PREVIEW IMAGE -->
                <a href="marketplace-product.html">
                    <figure class="product-preview-image liquid">
                        <img src="{{ asset('template/img/cover/'~c.imageC ) }}" alt="item-01">
                    </figure>
                </a>
                <!-- /PRODUCT PREVIEW IMAGE -->

                <!-- PRODUCT PREVIEW INFO -->
                <div class="product-preview-info">
                    {% if c.Cout ==0 %}
                    <!-- TEXT STICKER -->
                    <p class="text-sticker"><span class="highlighted">diamond:  </span>Gratuit</p>
                    <!-- /TEXT STICKER -->

                    {% else %}

                    <!-- TEXT STICKER -->
                    <p class="text-sticker"><span class="highlighted">diamond:  </span>{{c.Cout}}</p>
                    <!-- /TEXT STICKER -->
                    {% endif %}

                    <!-- PRODUCT PREVIEW TITLE -->
                    <p class="product-preview-title"><a href="marketplace-product.html">{{c.Titre}}</a></p>
                    <!-- /PRODUCT PREVIEW TITLE -->

                    <!-- PRODUCT PREVIEW CATEGORY -->
                    <p class="product-preview-category digital"><a href="marketplace-category.html">{{c.typedetalent}}</a></p>
                    <!-- /PRODUCT PREVIEW CATEGORY -->

                    <!-- PRODUCT PREVIEW TEXT -->
                    <p class="product-preview-text">{{ c.Description }}</p>
                    <!-- /PRODUCT PREVIEW TEXT -->
                </div>
                <!-- /PRODUCT PREVIEW INFO -->





                {% if (c.participe == false) and (c.Cout <= app.user.nbdiament)%}
                    <button class="button white white-tertiary">
                    <a href="{{ path('ajouterparticipation', {'id':c.idCompetition})  }}">Participer</a>
                </button>
                {% elseif c.participe == true %}
                    <button class="button white white-tertiary">
                        <a href="{{ path('supprimerparticipation', {'id':c.idCompetition,'id1':app.user.id})  }}">Supprimer Participation</a>
                </button>

                {% elseif c.Cout > app.user.nbdiament %}

                    <button class="button white white-tertiary">
                        <a href="#">gagner plus de diament</a>
                    </button>

                {% endif %}

                <!-- PRODUCT PREVIEW META -->
                <div class="product-preview-meta">
                    <!-- PRODUCT PREVIEW AUTHOR -->
                    <div class="product-preview-author">
                        <!-- PRODUCT PREVIEW AUTHOR IMAGE -->
                        <a class="product-preview-author-image user-avatar micro no-border" href="profile-timeline.html">
                            <!-- USER AVATAR CONTENT -->
                            <div class="user-avatar-content">
                                <!-- HEXAGON -->
                                <div class="hexagon-image-18-20" data-src="{{ asset('template/img/avatar/'~c.idUser.imguser) }}"></div>
                                <!-- /HEXAGON -->
                            </div>
                            <!-- /USER AVATAR CONTENT -->
                        </a>
                        <!-- /PRODUCT PREVIEW AUTHOR IMAGE -->

                        <!-- PRODUCT PREVIEW AUTHOR TITLE -->
                        <p class="product-preview-author-title">Posted By</p>
                        <!-- /PRODUCT PREVIEW AUTHOR TITLE -->

                        <!-- PRODUCT PREVIEW AUTHOR TEXT -->
                        <p class="product-preview-author-text"><a href="profile-timeline.html">{{ c.iduser }}</a></p>
                        <!-- /PRODUCT PREVIEW AUTHOR TEXT -->
                    </div>
                    <!-- /PRODUCT PREVIEW AUTHOR -->

                    <!-- RATING LIST -->
                    <div class="rating-list">
                        <!-- RATING -->
                        <div class="rating filled">
                            <!-- RATING ICON -->
                            <svg class="rating-icon icon-star">
                                <use xlink:href="#svg-star"></use>
                            </svg>
                            <!-- /RATING ICON -->
                        </div>
                        <!-- /RATING -->

                        <!-- RATING -->
                        <div class="rating filled">
                            <!-- RATING ICON -->
                            <svg class="rating-icon icon-star">
                                <use xlink:href="#svg-star"></use>
                            </svg>
                            <!-- /RATING ICON -->
                        </div>
                        <!-- /RATING -->

                        <!-- RATING -->
                        <div class="rating filled">
                            <!-- RATING ICON -->
                            <svg class="rating-icon icon-star">
                                <use xlink:href="#svg-star"></use>
                            </svg>
                            <!-- /RATING ICON -->
                        </div>
                        <!-- /RATING -->

                        <!-- RATING -->
                        <div class="rating filled">
                            <!-- RATING ICON -->
                            <svg class="rating-icon icon-star">
                                <use xlink:href="#svg-star"></use>
                            </svg>
                            <!-- /RATING ICON -->
                        </div>
                        <!-- /RATING -->

                        <!-- RATING -->
                        <div class="rating">
                            <!-- RATING ICON -->
                            <svg class="rating-icon icon-star">
                                <use xlink:href="#svg-star"></use>
                            </svg>
                            <!-- /RATING ICON -->
                        </div>
                        <!-- /RATING -->
                    </div>
                    <!-- /RATING LIST -->
                </div>
                <!-- /PRODUCT PREVIEW META -->

            </div>
            <!-- /PRODUCT PREVIEW -->
                {% else %}
                    <script>
                        window.alert("Seulement le Simple Utilisateur peut voir cette page");

                    </script>

                {% endif %}
            {% endfor %}












        </div>
        <!-- /GRID -->
    </div>
    <!-- /CONTENT GRID -->








{% endblock %}